* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #ccc;
}

.main {
    width: 3.75rem;
}

.header {
    height: 0.5rem;
    width: 3.75rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>.logo {
    width: 1rem;
    font-size: 0.2rem;
    font-weight: 900;
    text-align: center;
    line-height: 0.5rem;
    margin-left: 0.05rem;
}

.header>input {
    height: 0.3rem;
    width: 2.2rem;
    margin: 0 0.1rem;
    border-radius: 0.05rem;
    border: none;
    outline: none;
    padding-left: 0.1rem;
}

.todo h3 {
    height: 0.6rem;
    line-height: 0.6rem;
    margin: 0 0.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo .list {
    margin: 0 0.15rem;
}

.todo .todoitem {
    display: flex;
    height: 0.35rem;
    line-height: 0.3rem;
    background: white;
    align-items: center;
    border-radius: 0.05rem;
    overflow: hidden;
    margin-bottom: 0.1rem;
}

.todo .todoitem::before {
    content: "";
    height: 0.35rem;
    width: 0.04rem;
    background-color: black;
}

.done .todoitem {
    opacity: 0.4;
}

.todoitem input {
    width: 0.2rem;
    height: 0.2rem;
    margin: 0.1rem;
}

.todoitem .content {
    width: 2.5rem;
    color: #666;
}

.todoitem .del {
    width: 0.45rem;
    height: 0.2rem;
    background-color: black;
    font-size: 0.12rem;
    border-radius: 0.1rem;
    line-height: 0.2rem;
    text-align: center;
    color: white;
}

.pc {
    font-size: 200px!important;
}

.pc .main {
    margin: 0 auto;
}